# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Build / distribution
build/
dist/
*.spec

# Logs
*.log

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Kivy specific
.kivy/
.kivy_logs/
